{% extends "base.html" %}

{% block content %}
<meta charset="UTF-8">

<h2 align="center">Предложения</h2>
{% if current_user.is_authenticated %}
<p align="justify">
    <a href="addproduct" class="btn btn-secondary">Добавить предложение</a></p>
{% endif %}
{% for job in jobs %}
<div class="table_container">
    <table class="my_table">
        <tr class="my_row">
            <td>
                <table>
                    <tr>
                        <td><img src="{{ url_for('static', filename='img/product_img/image-5.jpg') }}"
           alt="здесь должна была быть картинка, но не нашлась" width="150px"></td>
                        <td>
                            <div>
                                {{ job.product_name }}
                            </div>
                            <div>
                                {{ job.summ }}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</div>
<br>
{% if current_user.is_authenticated %}
<div>
    <a href="/jobs/{{ job.id }}" class="btn btn-warning">Изменить</a>
    <a href="/job_delete/{{ job.id }}" class="btn btn-danger">Удалить предложение</a>
</div>
{% endif %}
{% endfor %}

{% endblock %}