td.title {
    background-color: "#dddddd";
    align: "center";
    font-size: 14pt;
    padding: 5px;
}

body {
    background: url(фон.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}
td.ordinary {
    background-color: "#eeeeff";
    align: "center";
    font-size: 14pt;
    padding: 5px;
}
h4 {
    color: #cccccc;
    padding: 20px;
}
p {
    font-size: 14pt;
}

.login_form {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-70%);
}

.Aphtorisate_title {
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%)}


form {
    display: block;
    border: 1px solid #28a745;
    border-width: 10px;
    border-style: outset;
    border-radius: 0.5rem;
    padding: 10px;
}
#search{
    border: None;
}

.title-reg-form{
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%)}


.register-form{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-40%);
}

.add_product_form{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-60%);
}

.add_product_title {
    position: absolute;
    left: 50%;
    transform: translate(-50%,50%)
}

.table_container{
border: 1px solid #28a745;
    border-width: 10px;
    border-style: outset;
    border-radius: 0.5rem;
    padding: 10px;
}

.img_product{
    border: 1px solid #28a745;
    border-width: 10px;
    border-style: outset;
    border-radius: 0.5rem;
    padding: 10px;
    box-sizing: 10%
}

.profile{
    position: absolute;
    width: 500px;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-60%);
    }

.info {
    position: absolute;
}

.nav-link {
    display: block;
    padding: 1rem 1rem;
}